<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Player Search</title>
  <link rel="stylesheet" href="players/playerSearch.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" data-target="#mainNavbar" data-toggle="collapse">

      <a href="#"><img ng-src="resources/images/logo-dark.png" alt="Infrrd" class="navbar-brand"></a>
      <div class="navbar-header">
        <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse navLinks navbar-right dropdown" id="mainNavbar" >

        <ul class="nav navbar-nav navbar-right right-margin">
          <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Players</a>
            <ul class="dropdown-menu">
              <li><a ui-sref="players" class="active">Player Search</a></li>
            </ul>
          </li>
          <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Matches</a>
            <ul class="dropdown-menu">
              <li><a ui-sref="results">Results</a></li>
              <li><a href="#">Schedule</a></li>
              <li><a href="#">Calender</a></li>
            </ul>
          </li>
          <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Teams</a>
            <ul class="dropdown-menu">
              <li><a href="#">View Teams</a></li>
              <li><a href="#">Points Table</a></li>
            </ul>
          </li>
          <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Statistics</a>
            <ul class="dropdown-menu">
              <li><a href="#">Batting records</a></li>
              <li><a href="#">Bowling Records</a></li>
              <li><a href="#">Fielding Records</a></li>
              <li><a href="#">Player Rankings</a></li>
            </ul>
          </li>
          <li><a href="" class="dropdown-toggle" data-toggle="dropdown">League</a>
            <ul class="dropdown-menu">
              <li><a href="#">League Info</a></li>
              <li><a href="#">Grounds</a></li>
              <li><a href="#">Umpires</a></li>
              <li><a href="#">Photo Gallery</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a ui-sref='login'>Login</a></li>
          <li><a ui-sref="register">SignUp</a></li>

        </ul>
      </div>
    </nav>

    <div class="searchPlayer">
      <img class="col-md-4" ng-src="resources/images/player-logo.gif" alt="PlayerSearch">
      <div class="formDiv">
        <div class="jumbotron col-md-8  col-md-offset-1">
          <h2>Player Search</h2>
        </div>
      <form name="playerSearchForm" role="form" novalidate="">
        <div class="form-group col-md-6 col-md-offset-2">
          <label for="firstName">First Name <span>**</span></label>
          <input type="text" class="form-control" name="firstName" ng-model="player.firstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-6 col-md-offset-2">
          <label for="lastName">Last Name <span>**</span></label>
          <input type="text" class="form-control" name="lastName" ng-model="player.lastName" placeholder="Last Name">
        </div>
        <div class="form-group col-md-6 col-md-offset-2">
          <label for="teamName">Team Name <span>**</span></label>
          <input type="text" class="form-control" name="teamName" ng-model="player.teamName" placeholder="Team Name">
        </div>
        <div class="col-md-6 col-md-offset-2">
          <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="searchThePlayer()">Search Player</button>
        </div>
      </form>
      </div>
    </div>
    <span style="margin-left: 60%" ng-show="errMsg">** Enter at-least one</span>
    <div class="playersFound" ng-show="playerFound">
        <table>
          <tr style="background-color: #222222; color: #999999;">
            <th> <a href="" ng-click="sortfield = 'no'; reverse=!reverse"> No </a> </th>
            <th> <a href="" ng-click="sortfield = 'name'; reverse=!reverse">Player Name</a> </th>
            <th> <a href="" ng-click="sortfield = 'role'; reverse=!reverse">Player Role</a> </th>
            <th> <a href="" ng-click="sortfield = 'team'; reverse=!reverse">Team</a> </th>
          </tr>
          <tr ng-repeat="player in playersSearched | orderBy : sortField : reverse">
            <td>{{ player.no }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.role }}</td>
            <td>{{ player.team }}</td>
          </tr>
        </table>
    </div>
  </div>
</body>
</html>
