nav{
  box-shadow: 4px 4.5px 5px #C0C0C0;
}
.navbar-brand{
  padding: 0px;
  z-index: 10;
}

.right-margin{
  margin-right: 10px;
}

.navLinks ul li{
  margin: 0 5px;
}

.dropdown-menu{
  background-color: #0f0f0f;
}

.dropdown-menu li a:hover{
  background-color: #222222 ;
  color: #9acfea;
}
.dropdown-menu li a{
  color:#999999;
}

.searchPlayer{
  text-align: center;
  margin-top: 100px;
  display: flex;

}

.searchPlayer img{
  height: 200px;
  width: 200px;
  margin-top: 100px;
}

.searchPlayer .formDiv{
  width:100%;
  text-align: center;
}

.searchPlayer .formDiv .form-group{
  text-align:left;
}

span{
  color:red;
}
.searchPlayer .formDiv .jumbotron{
  text-align: center;
  background-color: #222222;
  height: 35  %;
  padding: 0;
  box-sizing: border-box;
  color: #999999;
}

.playersFound{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}
.playersFound table{
  border-top: 1px solid #d3d3d3;;
  width: 90%;
  text-align: center;
  background-color: #DCDCDC;
}

.playersFound tr a{
  color: #d3d3d3;
}

.playersFound tr a:hover{
  color: darkgray;
  text-decoration: none;
}

.playersFound tr a:focus {
  color: darkgray;
  text-decoration: none;
}

.playersFound tr{
  border-top: 1px solid gray;
}

.playersFound   td,th{
  text-align: center;

}
