nav{
  box-shadow: 4px 4.5px 5px #888888;
}
.navbar-brand{
  padding: 0px;
}

.right-margin{
  margin-right: 10px;
}

.navLinks ul li{
  margin: 0 5px;
}

.dropdown-menu{
  background-color: #0f0f0f;
}

.dropdown-menu li a:hover{
  background-color: #222222 ;
  color: #9acfea;
}
.dropdown-menu li a{
  color:#999999;
}

.searchPlayer{
  text-align: center;
  margin-top: 100px;
  display: flex;

}

.searchPlayer img{
  height: 200px;
  width: 200px;
  margin-top: 100px;
}

.searchPlayer .formDiv{
  width:100%;
  text-align: center;
}

.searchPlayer .formDiv .form-group{
  text-align:left;
}

span{
  color:red;
}
.searchPlayer .formDiv .jumbotron{
  text-align: center;
  background-color: #222222;
  height: 35  %;
  padding: 0;
  box-sizing: border-box;
  color: #999999;
}

table{
  border: 3px solid black;
}
